@use '@angular/material' as mat;

// Define a custom primary palette using a green color.
$my-primary: mat.define-palette(mat.$green-palette);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for the
// typography, and palettes for primary, accent, and warn colors.
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Emit theme-dependent styles for common UI patterns.
@include mat.all-component-themes($my-theme);
