<div class="register-container">
    <mat-card class="register-card">
        <mat-card-title>Cadastro</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput id="username" formControlName="username" type="text" required>
                    @if (registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched) {
                        <mat-error>
                            Nome de usuário é obrigatório.
                        </mat-error>
                    }
                    @if (registerForm.get('username')?.hasError('minlength') && registerForm.get('username')?.touched) {
                        <mat-error>
                            O nome de usuário deve ter no mínimo 3 caracteres.
                        </mat-error>
                    }
                    @if (registerForm.get('username')?.hasError('maxlength') && registerForm.get('username')?.touched) {
                        <mat-error>
                            O nome de usuário deve ter no máximo 100 caracteres.
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" formControlName="email" type="email" required>
                    @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched) {
                        <mat-error>
                            Email é obrigatório.
                        </mat-error>
                    }
                    @if (registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched) {
                        <mat-error>
                            Email inválido.
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput id="password" formControlName="password" type="password" required>
                    @if (registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched) {
                        <mat-error>
                            Senha é obrigatória.
                        </mat-error>
                    }
                    @if (registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched) {
                        <mat-error>
                            A senha deve ter no mínimo 8 caracteres.
                        </mat-error>
                    }
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" class="full-width">Cadastrar</button>
            </form>
            @if (errorMessage) {
                <div class="error-message">{{ errorMessage }}</div>
            }
            <div class="login-link-container">
                Já tem uma conta? <a routerLink="/login">Fazer Login</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>
